@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________________________common style start_____________________________ */
body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.container {
    align-items: center;
    padding: 60px;
    width: 100%;
    height: 100%;
}

/* .banner-container{
    background-color: black;
} */

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 35px;
    overflow: hidden;
}

.header-title {
    width: 50%;
    height: auto;
    color: white;
    padding: 5px 50px;
}

.header-title h1 {
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 19px;
}

.header-title p {
    margin-bottom: 30px;
}

.header-title a {
    text-decoration: none;
    background-color: orange;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    padding: 10px;
    transition-duration: .5s;
}

.header-title a:hover {
    background-color: rgb(25, 25, 248);
    color: #FFFFFF;
    font-size: 15px;
    border: 1px solid wheat;

}

.banner-image {
    width: 50%;
    height: auto;
}

.banner-image img {
    width: 78%;
    margin-bottom: -2%;
}

/* ____________________________common style end_____________________________ */
/* _________________________cards section style start______________________ */

.card-section {
    display: flex;
    gap: 30px;
}

.side-box {
    height: 320px;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;

}

.box1 {
    width: 310px;
    background-color: white;
    padding: 18px 30px;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    font-weight: bold;

}

.box1 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.box1:hover {
    background-color: gray;
    color: #FFFFFF;
}

.btn {
    width: 310px;
    background-color: orangered;
    padding: 18px 30px;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    font-weight: bold;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card {
    width: 100%;
    border: 0.5px solid rgba(128, 128, 128, 0.293);
    border-radius: 5px;
}

.card a {
    text-decoration: none;
    border: 1px solid gray;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}

.card p {
    margin: 5px;
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.time-coment {
    display: flex;
    justify-content: space-between;
    color: rgba(128, 128, 128, 0.708);
}

.fa-message,
.fa-clock {
    margin: 5px 10px;
}

.view-page {
    text-align: center;
    background-color: orangered;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
}

.view-page>h2 {
    font-size: 15px;
}

/* _________________________cards section style end______________________ */

/* <____________________________________footer section style start_________________________  */

.copyright-container {
    background-color: black;
    color: white;
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 55px;
}

.copyright-container h2 {
    padding: 20px;
}

.copyright-container hr {
    margin: 0 235px;
    opacity: .3;
}

.contart {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 5px;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin {
    margin-right: 40px;
    font-size: 30px;
    color: #FFFFFF
}

/*____________________________________footer section style end_________________________ */




/* ______________________________________page-2 (up-coming-match) style start____________________________ */



.page2-side-box {
    width: 345px;
    height: 320px;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}

.page2-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(128, 128, 128, 0.293);
    border-radius: 5px;
    padding: 50px 20px;
    height: 100%;
}

.page2-card {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 2px;
    gap: 22px;
    align-items: center;
}


.page2-copyright-container {
    position: relative;
    top: 100px;
    background-color: black;
    color: white;
    height: 300px;
    width: 100%;
    text-align: center;
}

.page2-copyright-container h2 {
    padding: 20px;
}

.page2-copyright-container hr {
    margin: 0 235px;
    opacity: .3;
}


/* ______________________________________page-2 (up-coming-match) style end____________________________ */


/* ____________________Tablat view style start______________________________ */

@media screen and (min-width: 576px) and (max-width: 768px) {

    .view-page {
        display: block;
    }

    .view-page:hover {
        background-color: gray;
        color: #FFFFFF;
    }

    #last-card {
        display: none;
    }

    .header-title {
        padding: 6% 0 6% 6%;
    }

    .header-title p {
        font-size: 1.5vw;
    }

    .banner-image {
        margin-bottom: -8*;
    }

    .banner-image img {
        width: 100%;
        margin-bottom: -8%;

    }

    .card-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .side-box {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        height: auto;
        align-items: center;
        background-color: #FFFFFF;
        padding: 15px 0;

    }

    .btn {
        width: 310px;
        background-color: orangered;
        padding: 18px 30px;
        border-radius: 15px;
        font-size: 15px;
        color: black;
        font-weight: bold;

    }

    .box1 {
        width: 310px;
        border: 1px solid rgba(128, 128, 128, 0.287);
        font-size: 15px;

    }

    .card p {
        font-size: 10px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .contart {
        gap: 22px;
        font-size: 1.8vw;
    }

}

/* ____________________Tablat view style end______________________________ */

/* ______________________Mobile view style start________________________ */

@media screen and (max-width: 576px) {

    .container {
        padding: 18px;
    }

    .top-banner {
        display: flex;
        flex-direction: column;
    }

    .header-title {
        padding: 30px 40px;
        text-align: center;
        overflow: hidden;
        width: 100%;

    }

    .header-title h1 {
        font-size: 5vw;
    }

    .header-title p {
        font-size: 3vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .banner-image {
        width: 100%;
        text-align: center;
    }

    .card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-box {
        gap: 10px;
        border-radius: 10px;
        height: auto;
        background-color: #FFFFFF;

    }

    .box1,
    .btn {
        border: 1px solid rgba(128, 128, 128, 0.287);
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .copyright-container {
        height: auto;
    }

    .copyright-container hr {
        margin: 0;
    }

    .contart {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .page2-copyright-container {
        height: 100%;
    }

    .page2-copyright-container hr {
        margin: 0;
    }


}


/* ______________________Mobile view style end________________________ */